<!DOCTYPE html>
<html lang="en">
   <head>
      <%- include('partials/head', { title: 'Home' }) %>
   </head>
   <body>
      <%- include('partials/navbar') %>
      <h1>Welcome to Squad Tracker</h1>
      <p>Let's build something fun</p>
   </body>
</html>
